.container
	.center-block.medium-block
		h1 
			i.glyphicon.glyphicon-envelope
			span &nbsp;Sending Email
		small Sending email using roadie rails
		= form_tag(newsletter_path, method: "post", role: "form") do
			.form-group
			.form-group
				= label_tag :email
				= email_field_tag(:email, "", class: "form-control", placeholder: "Email", required: true)
			.form-group
				= label_tag :message
				= text_area_tag(:message, "", class: "form-control", placeholder: "Your Message", required: true)
			.form-group.text-center
				button.btn.btn-success type="submit"
					i.glyphicon.glyphicon-send
					span &nbsp; &nbsp; Send