//****************************************** Colors
$bg-primary: 									#c8e6c9;
$bg-secondary: 								#e6ee9c;

$orange: 											#ff9100;
$blue: 												#2980B9;
$light-blue: 									#ECF0F1;
$brown: 											#73573B;
$pink: 												#F8A6AB;

$grey: 												#9e9e9e;
$dark-grey: 									#424242;
$darken-grey: 								#212121;

$inverse: 										white;

$blue-grey: 									#263238;


$bg-navbar: 									transparent;
$bg-color:										$light-blue;