// Setup Font
@font-face {
  font-family: 'museo_sans300';
  src: 	url('https://cloudinary.com/console/media_library#/dialog/raw/upload/eatforgood/museosans-300-webfont.eot');
  src: 	url('https://cloudinary.com/console/media_library#/dialog/raw/upload/eatforgood/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
  			url('https://cloudinary.com/console/media_library#/dialog/raw/upload/eatforgood/museosans-300-webfont.woff') format('woff'),
  			url('https://cloudinary.com/console/media_library#/dialog/raw/upload/eatforgood/museosans-300-webfont.ttf') format('truetype');
  			font-weight: normal;
  			font-style: normal;
}
// End Setup Font

body {
	margin: 0;
	font-family: 'museo_sans300';
}


.text-light {
	font-weight: 100;
}

a {
	text-decoration: none;
}

.email-contain {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	max-width: 600px;
	display: block;
	width: 100%;
	margin: 0 auto;
	.email-heading {
		text-align: center;
		img {
			margin-top: 30px;
			display: inline-block;
			width: 280px;
		}
	}
	.email-body {
		font-size: 16px;
		.title {
			font-size: 24px;
		}
		.image-contain {
			display: table;
			width: 100%;
			.img {
				display: table-cell;
				height: 120px;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.volunteer {
				background-image: url('http://res.cloudinary.com/djsham4ot/image/upload/v1435327806/eatforgood/dog-min.png');
			}
			.children {
				background-image: url('http://res.cloudinary.com/djsham4ot/image/upload/v1435374151/eatforgood/playing_kids-min.png');
			}
			.lunch {
				background-image: url('http://res.cloudinary.com/djsham4ot/image/upload/v1435327806/eatforgood/lunch.png');
			}
		}
	}
	.block {
		text-align: right;
		display: block;
		padding: 15px 30px;
		font-size: 18px;
		span {
			vertical-align: middle;
		}
		.logo {
			width: 30px;
			height: 30px;
			background-image: url('http://res.cloudinary.com/djsham4ot/image/upload/v1435325062/eatforgood/cake_logo.png');
			background-position: 0 4px;
			display: inline-block;
			background-size: 214%;
			background-repeat: no-repeat;
			margin-left: 5px;
		}
	}
	.email-content {
		display: block;
		padding: 15px 15px 30px;
		.note, .name {
			margin: 0;
		}
	}
	.email-footer {
		background-color: #1a1a1a;
		color: white;
		.title {
			color: #6e7b43;
			padding-bottom: 10px;
		}
		.unstyled {
			list-style: none; 
			padding-left: 8px;
		}
		.navigation-contain {
			font-size: 12px;
			display: table;
			width: 97.5%;
			margin: 0 auto;
			border-bottom: 1px dashed white;
			padding-bottom: 15px;
			.col {
				display: table-cell;
				a {
					text-decoration: none;
					color: white;
				}
			}
		}
		.email-copyright, .email-note {
			display: block;
		}
		.email-copyright {
			text-align: right;
			color: white;
			font-size: 10px;
			padding: 5px 15px;
		}
		.email-note {
			padding: 0 15px 15px;
			font-size: 9px;
			a {
				color: #6e7b43;
				margin-bottom: 5px;
				display: block;
			}
			p {
				margin-bottom: 0;
				margin-top: 0;
			}
		}
	}
}