@font-face {
  font-family: 'Glyphicons Halflings';

  src: 	font-url('glyphicons-halflings-regular.eot');
  src: 	font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  			font-url('glyphicons-halflings-regular.woff2') format('woff2'), 
  			font-url('glyphicons-halflings-regular.woff') format('woff'), 
  			font-url('glyphicons-halflings-regular.ttf') format('truetype'), 
  			font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
@font-face {
  font-family: 'museo_sans300';
  src: 	font-url('museo/museosans-300-webfont.eot');
  src: 	font-url('museo/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
  			font-url('museo/museosans-300-webfont.woff') format('woff'),
  			font-url('museo/museosans-300-webfont.ttf') format('truetype'),
				font-url('museo/museosans-300-webfont.svg#museo_sans300') format('svg');
  			font-weight: normal;
  			font-style: normal;
}
@font-face {
  font-family: 'museo_sans300_italic';
  src: 	font-url('museo/museosans-300italic-webfont.eot');
  src: 	font-url('museo/museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
			  font-url('museo/museosans-300italic-webfont.woff') format('woff'),
			  font-url('museo/museosans-300italic-webfont.ttf') format('truetype'),
			  font-url('museo/museosans-300italic-webfont.svg#museo_sans300_italic') format('svg');
			  font-weight: normal;
			  font-style: normal;
}
@font-face {
  font-family: 'museo_sans500';
  src: 	font-url('museo/museosans_500-webfont.eot');
  src: 	font-url('museo/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
			  font-url('museo/museosans_500-webfont.woff') format('woff'),
			  font-url('museo/museosans_500-webfont.ttf') format('truetype'),
			  font-url('museo/museosans_500-webfont.svg#museo_sans500') format('svg');
			  font-weight: normal;
			  font-style: normal;
}
@font-face {
  font-family: 'museo_sans500_italic';
  src: 	font-url('museo/museosans_500_italic-webfont.eot');
  src: 	font-url('museo/museosans_500_italic-webfont.eot?#iefix') format('embedded-opentype'),
			  font-url('museo/museosans_500_italic-webfont.woff') format('woff'),
			  font-url('museo/museosans_500_italic-webfont.ttf') format('truetype'),
			  font-url('museo/museosans_500_italic-webfont.svg#museo_sans500_italic') format('svg');
			  font-weight: normal;
			  font-style: normal;
}
@font-face {
  font-family: 'museo_sans700';
  src: 	font-url('museo/museosans_700-webfont.eot');
  src: 	font-url('museo/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
			  font-url('museo/museosans_700-webfont.woff') format('woff'),
			  font-url('museo/museosans_700-webfont.ttf') format('truetype'),
			  font-url('museo/museosans_700-webfont.svg#museo_sans700') format('svg');
			  font-weight: normal;
			  font-style: normal;
}