@import "variables.scss";

a, p, body {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $blue-grey;
	font-family: "museo_sans300";
}

.medium-block {
	width: 50%;
	h1 {
		margin-bottom: 0;
	}
	label, h1, small {
		color: $inverse;
	}
}